:root {
	--main-bg: #aae;
	--primary-bg: #f95;
	--accent-bg: #44d;
	--primary-text: var(--accent-bg);
	--accent-text: var(--primary-bg);
	--highlight: #f5b952;
	--error: #ee3322;
}

* {
	font-size: calc(0.88rem + 0.75vh);
	box-sizing: border-box;
}

	/* font-family: "alphabet-soup-pro", sans-serif; */
	/* font-weight: 400; */
	/* font-style: normal; */


.font-main {
	font-family: alphabet-soup-pro, sans-serif;
	/* font-weight: 200; */
	font-style: normal;
}
.font-accent {
	font-family: "chloe", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	/* font-family: 'Times New Roman', Times, serif; */
	appearance: none;
	-webkit-appearance: none;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg);
	color: var(--primary-text);
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0;
	padding-bottom: 1rem;
}

.container {
	position: relative;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	width: fit-content;
	/* min-width: 50%; */
	min-width: 40vw;
	max-width: fit-content;
	max-height: 100vh;
	margin: auto;
	margin-top: 2rem;
	gap:1rem;
}

#error-message {
	position: absolute;
	background-color: var(--highlight);
	border: var(--error) 5px solid;
	border-radius: 1rem;
	width: 50%;
	min-height: 5rem;
	margin: 10rem 0 0 0;
	padding: 0;
	align-self: center;
	justify-self: center;
	overflow: hidden;
}

.error-message-header {
	width: 100%;
	background-color: var(--error); 
	color: var(--highlight);
	text-align: center;
}

#error-message-text {
	color: var(--error);
	text-align: center;
	padding: 1rem;
}

.container-item {
	width: 100%;
	height: 100%;
}

.input-container {
	position: absolute;
	top: -1.7rem;
	display: flex;
	height: 1.3rem;
	width: fit-content;
	background-color: var(--accent-bg);
	border-radius: var(--input-radius);
}

.input-container div {
	height: 100%;
}

:root {
	--input-radius: 1rem;
}

.input-label {
	box-sizing: border-box;
	display: inline;
	font-size: 1rem;
	color: var(--highlight);
	height: 100%;
	width: fit-content;
	padding: 0.02rem;
	padding-left: 0.5rem;
	/* background-color: var(--primary-text); */
	background-color: none;
	border-radius: var(--input-radius) 0 0 var(--input-radius);
	padding: 0.5rem 0.7rem;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

input {
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
	display: inline;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1rem;
	height: 100%;
	font-weight:  700;
	background-color: var(--highlight);
	color: var(--primary-text);
	border: 0;
	/* border-left: 0.1rem solid var(--primary-text); */
	/* border-bottom: 0.1rem solid var(--primary-text); */
	border-radius: 0 var(--input-radius) var(--input-radius) 0;
	padding: 0.3rem;
	padding-left: 0.6rem;
}

input::placeholder {
	color: var(--accent-bg);
	font-style: italic;
	font-weight: normal;
}
input:focus {
	outline: 0;
	background-color: var(--accent-bg);
	color: var(--highlight);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--accent-bg) inset !important;
  -webkit-text-fill-color: var(--highlight) !important;
}
.input-wrapper {
	flex-grow: 2;
	background-color: var(--accent-bg);
}

#present-date,#present-temp,
#present-tempmax,#present-tempmin,
#present-humidity {
	color: var(--highlight);
}

.present-conditions {
	position: relative;
	/* flex-grow: 3; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
	min-height: 20rem;
	/* max-height: fit-content; */
	background-color: var(--primary-bg);
	border: 3px solid var(--accent-bg);
	border-radius: 1.5vw;
	gap: 1rem;
	padding: 0.3rem;
}

.present-main {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 55%;
	/* padding-left: 0.5rem; */
	/* padding-top: 0.5rem; */
	/* padding-bottom: 0.5rem; */
}

.present-header-container {
	width: 100%;
	margin-bottom: 0.5rem;
}

#present-location {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: var(--highlight);
	border: 3px solid var(--accent-bg);
	border-radius: 1rem 1rem 0 0;
	padding: 0.3rem;
}

#present-date {
	display: flex;
	justify-content: center;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
	padding: 0.3rem;
}

#present-icon {
	box-sizing: border-box;
	flex-grow: 3;
	display: flex;
	justify-content: center;
	width: 100%;
	max-height: 13rem;
	background-color: var(--accent-bg);
	/* border: var(--highlight) 3px solid; */
	border-radius: 1rem;
	padding: 1rem;
}

.present-conditions img {
	max-height: 14rem;
	min-height: 10rem;
	max-width: 100%;
}

#present-conditions {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight);
	color: var(--primary-text);
	width: 100%;
	min-height: 2rem;
	border: 3px solid var(--accent-bg);
	border-radius: 1rem;
	margin-top: 0.5rem;
	padding: 0.3rem;
}

.present-details-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 13rem;
	min-height: 100%;
}

.present-temp-header {
	width: 100%;
	background-color: var(--highlight);
	border: 3px solid var(--primary-text);
	border-radius: 1rem 1rem 0 0;
	text-align: center;
	padding: 0.3rem;
}

.present-temp-value {
	font-size: 2rem;
	text-align: center;
	width: 100%;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
}

.present-details-temp-container {
	display:flex;
	flex-grow: 2;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	margin-bottom: 1rem;
}

.present-details-temp-container div {
	max-height: fit-content;
}

.present-temp-range-container {
	display: flex;
	gap: 0.3rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 45%;
}

.present-temp-range-item {
	flex-grow: 2;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	max-height: 70%;
	width: 40%;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	padding: 0.4rem;
	border-radius: 1rem;
}

/*temp range header*/
.present-temp-range-item div:first-child {
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 0.8rem;
	text-align: center;
	background-color: var(--highlight);
	color: var(--primary-text);
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.2rem;
}

/* temp range value */
.present-temp-range-item div:last-child {
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	font-size: 1.5rem;
}

.present-humid-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.present-humid-container div {
	max-height: fit-content;
	/* max-width: fit-content; */
	width: 100%;
}

.present-humid-header {
	text-align: center;
	background-color: var(--highlight);
	border: 3px solid var(--primary-text);
	border-radius: 1rem 1rem 0 0;
	padding: 0.5rem;
}

.present-humid-value {
	text-align: center;
	font-size: 2rem;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
	padding: 0.5rem;
}

.future-conditions {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 1rem;
}

.future-day {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 50%;
	min-height: 8rem;
	background-color: var(--primary-text);
	border: 3px solid var(--primary-text);
	border-radius: 1rem;
	overflow: hidden;
}

.future-conditions .future-icon {
	/* flex-grow: 1; */
	/* max-width: 100%; */
	/* min-height: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: fit-content;
	width: 100%;
	background-color: var(--primary-bg);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.future-icon img {
	/* min-height: 100%; */
	max-height: 4rem;
}


.future-day .future-header {
	flex-grow: 1;
	min-width: 100%;
	min-height: 20%;
	max-height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	background-color: var(--accent-bg);
	color: var(--highlight);
}

.future-day .future-temp {
	font-size: 1.5rem;
	min-width: 100%;
	min-height: 3rem;
	text-align: center;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	/* border-radius: 0 0 1rem 1rem; */
}

.future-temp::after, .present-temp-value::after, #present-tempmax::after, #present-tempmin::after {
	content: "\00B0";
}

.future-day div {
	min-width: 45%;
	padding: 0.3rem;
}

.display-none {
	display: none;
}

.blur {
	filter: blur(4px);
}

@media only screen and (max-width: 767px) {

	:root {
		font-size: 20px;
	}

	* {
		font-size: calc(0.50rem + 0.75vw);
		box-sizing: border-box;
	}

	.container {
		gap: 0.7vh;
	}

	.input-container {
		display: flex;
		width: 100%;
	}
	.input-container * {
		flex-grow: 1;
	}

	.present-conditions {
		gap: 0.5rem;
		border-radius: 1.5rem;
	}

	.present-main {
		flex-grow: 2;
		min-width: 60%;
	}

	.present-temp-value {
		font-size: 1.4rem;
	}

	.present-humid-value {
		font-size: 1.4rem;
	}

	.present-details-container {
		max-width: 40%;
	}

	.future-day .future-temp {
		font-size: 1rem;
	}

/* temp range value */
	.present-temp-range-item div:last-child {
		font-size: 1rem;
	}
}
