:root {
	--main-bg: #aae;
	--primary-bg: #f95;
	--accent-bg: #44d;
	--primary-text: var(--accent-bg);
	--accent-text: var(--primary-bg);
	--highlight: #f5b952;
}

* {
	font-size: calc(0.75rem + 0.75vw);
	box-sizing: border-box;
}

body {
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg);
	color: var(--primary-text);
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0;
}

.container {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	width: fit-content;
	min-width: 50%;
	max-height: 100%;
	margin: auto;
	margin-top: 3rem;
	gap:1rem;
}

.container-item {
	width: 100%;
	height: 100%;
}

.input-container {
	position: absolute;
	top: -2rem;
	display: flex;
	max-height: 2rem;
}

:root {
	--input-radius: 1rem;
}

label {
	color: var(--accent-text);
	width: fit-content;
	padding: 0.02rem;
	padding-left: 0.5rem;
	background-color: var(--primary-text);
	border-radius: var(--input-radius) 0 0 var(--input-radius);
	/* height: 1rem; */
	padding: 0.3rem;
	padding-left: 0.6rem;
}

input {
	appearance: none;
	-webkit-appearance: none;
	display: inline;
	width: 10rem;
	font-weight:  700;
	background: var(--primary-bg);
	color: var(--primary-text);
	border: 0;
	border-left: 0.1rem solid var(--primary-text);
	border-bottom: 0.1rem solid var(--primary-text);
	border-radius: 0 var(--input-radius) var(--input-radius) 0;
	padding: 0.3rem;
}

label,input {
	font-size: 0.7rem;
	/* background-color: var(--highlight-bg); */
}
input::placeholder {
	color: var(--accent-bg);
	font-style: italic;
	font-weight: normal;
}
input:focus {
	outline: 0;
	background-color: var(--accent-bg);
	color: var(--highlight);
}

.present-conditions {
	position: relative;
	/* flex-grow: 3; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
	min-height: 20rem;
	/* max-height: fit-content; */
	background-color: var(--primary-bg);
	border: 3px solid var(--accent-bg);
	border-radius: 1.5vw;
	gap: 1rem;
	/* padding: 0.3rem; */
}

.present-main {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 55%;
	padding-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.present-header-container {
	width: 100%;
	margin-bottom: 0.5rem;
}

#present-location {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: var(--highlight);
	border: 3px solid var(--accent-bg);
	border-radius: 1rem 1rem 0 0;
	padding: 0.3rem;
}

#present-date {
	display: flex;
	justify-content: center;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
	padding: 0.3rem;
}

#present-icon {
	box-sizing: border-box;
	flex-grow: 3;
	display: flex;
	justify-content: center;
	width: 100%;
	max-height: 13rem;
	background-color: var(--accent-bg);
	/* border: var(--highlight) 3px solid; */
	border-radius: 1rem;
	padding: 1rem;
}

.present-conditions img {
	max-height: 14rem;
	min-height: 10rem;
	max-width: 100%;
}

#present-conditions {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight);
	color: var(--primary-text);
	width: 100%;
	min-height: 2rem;
	border: 3px solid var(--accent-bg);
	border-radius: 1rem;
	margin-top: 0.5rem;
	padding: 0.3rem;
}

.present-details-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 13rem;
	min-height: 100%;
}

.present-temp-header {
	max-width: 9rem;
	min-width: 9rem;
	background-color: var(--highlight);
	border: 3px solid var(--primary-text);
	border-radius: 1rem 1rem 0 0;
	text-align: center;
	padding: 0.3rem;
}

.present-temp-value {
	font-size: 2.5rem;
	text-align: center;
	min-width: 9rem;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
}

.present-details-temp-container {
	display:flex;
	flex-grow: 2;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	margin-bottom: 1rem;
}

.present-details-temp-container div {
	max-height: fit-content;
}

.present-temp-range-container {
	display: flex;
	gap: 0.3rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 45%;
}

.present-temp-range-item {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	max-height: 70%;
	max-width: 50%;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	padding: 0.4rem;
	border-radius: 1rem;
}

/*temp range header*/
.present-temp-range-item div:first-child {
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 0.8rem;
	text-align: center;
	background-color: var(--highlight);
	color: var(--primary-text);
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.2rem;
}

/* temp range value */
.present-temp-range-item div:last-child {
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	font-size: 140%;
}

.present-humid-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.present-humid-container div {
	max-height: fit-content;
	/* max-width: fit-content; */
	min-width: 9rem;
}

.present-humid-header {
	text-align: center;
	min-width: 7rem;
	background-color: var(--highlight);
	border: 3px solid var(--primary-text);
	border-radius: 1rem 1rem 0 0;
	padding: 0.5rem;
}

.present-humid-value {
	text-align: center;
	font-size: 2.5rem;
	min-width: 7rem;
	background-color: var(--accent-bg);
	color: var(--accent-text);
	border-radius: 0 0 1rem 1rem;
	padding: 0.5rem;
}

.future-conditions {
	flex-grow: 2;
	display: flex;
	flex-direction: row;

	gap: 5rem;
}

.future-day {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 10rem;
	min-height: 8rem;
	background-color: var(--highlight);
}

.future-conditions .future-icon {
	flex-grow: 2;
	max-width: 100%;
}

.future-icon img {
	min-height: 100%;
}

.future-day {
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.future-day .future-header {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
}

.future-day .future-temp {
	font-size: 2rem;
}

.future-day div {
	min-width: 45%;
}

